<p id="notice"><%= notice %></p>
<div class="mt-5">
  <%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
</div>
<br>
<h1>Listing Posts</h1>

<div class="card-columns">
  <% @posts.each do |post| %>
    <div class="card">
      <% image_url = post.fetch_random_image %>
      <% if image_url.present? %>
        <img class="card-img-top" src="<%= image_url %>" alt="Card image cap">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.content %></p>
      </div>
      <div class="card-footer">
        <small>Created <%= time_ago_in_words(post.created_at) %> ago, 
            edited <%= time_ago_in_words(post.updated_at) %> ago</small>
        <div class="d-flex justify-content mt-2">
          <%= link_to 'Show', post, class: 'btn btn-primary btn-sm' %>
          <% if user_signed_in? && (current_user == post.user) %>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
