<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Mini BLOG", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
               <li><a class="dropdown-item" href="<%=new_post_path%>">craete new post</a></li>
            <%end%>

            <li><a class="dropdown-item" href="<%=posts_path%>">View Post</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Profile[<%= current_user.email %>]
            </a>
          <li class="nav-item">
            <%= link_to "LogOut", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" }, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>